@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "Eras Demi ITC";
   src: url('/fonts/ERASDEMI.TTF') format('truetype');
   font-weight: normal;
   font-style: normal;
}



:root {
   --font-size-heading1: 60px;
   --font-size-heading2: 40px;
   --font-size-heading3: 20px;
}

/* Adjustments for medium screens */
@media (max-width: 768px) {
   :root {
      --font-size-heading1: 48px;
      --font-size-heading2: 32px;
      --font-size-heading3: 16px;
   }
}

/* Adjustments for small screens */
@media (max-width: 480px) {
   :root {
      --font-size-heading1: 36px;
      --font-size-heading2: 24px;
      --font-size-heading3: 14px;
   }
}

.heading1 {
   font-size: var(--font-size-heading1);
   color: rgb(235, 235, 235);
   font-family: "Eras Demi ITC", sans-serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 2px;
}

.heading2 {
   font-family: "Eras Demi ITC", sans-serif;
   font-weight: normal;
   font-style: normal;
   color: rgb(235, 235, 235);
   font-size: var(--font-size-heading2);
}

.heading3 {
   font-family: "Eras Demi ITC", sans-serif;
   font-weight: normal;
   font-style: normal;
   color: rgb(243, 243, 243);
   font-size: var(--font-size-heading3);
}
.panelHeading {
   font-family: "Eras Demi ITC", sans-serif;
   font-weight: normal;
   font-style: normal;
   color: rgb(31, 31, 31);
   font-size: var(--font-size-heading2);
}

.activityText {
   font-family: "articulat-cf", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: rgb(4, 4, 4);
   font-size: medium;

}

.highlight {
   background-color: #000000;

   border: 1px solid #33e4ff;
  
}

.background {
   background-color: #383838;

}
.modalBackground {
   background-color: #1d1d1d;
 
}

.panel {
   background-color: #85c8f8;
  

}

.panel2 {
   background-color: #ff771d;
   /* Choose a color that fits your UI theme */

}

.sidebar {
   background-color: #090c0f;
   /* Choose a color that fits your UI theme */
}


/* Other Font Styles */

/* Articulat CF Normal */
/* Use this for standard text styling */
/* font-family: "articulat-cf", sans-serif;
   font-weight: 400; 
   font-style: normal; */

/* Articulat CF Normal Oblique */
/* Use this for italicized text styling */
/* font-family: "articulat-cf", sans-serif;
   font-weight: 400; 
   font-style: italic; */

/* Articulat CF Heavy */
/* Use this for heavy emphasis text styling */
/* font-family: "articulat-heavy-cf", sans-serif;
   font-weight: 900; 
   font-style: normal; */

/* Articulat CF Heavy Oblique */
/* Use this for heavy emphasis italicized text styling */
/* font-family: "articulat-heavy-cf", sans-serif;
   font-weight: 900; 
   font-style: italic; */

/*font-family: "rocinante-titling-variable", sans-serif;
font-variation-settings: "slnt" 0, "wght" 613;*/