@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "Eras Demi ITC";
   src: url('/fonts/ERASDEMI.TTF') format('truetype');
   font-weight: normal;
   font-style: normal;
}
.heading1 {
   font-family: "Eras Demi ITC", sans-serif;
   font-weight: normal;
   font-style: normal;
  color:rgb(224, 224, 224);
  font-size:  60px;
  letter-spacing: 2px;
}

.heading2{
font-family: "Eras Demi ITC", sans-serif;
font-weight: normal;
font-style: normal;
color:rgb(225, 225, 225);
font-size: 40px;
}
.heading3{
   font-family: "Eras Demi ITC", sans-serif;
   font-weight: normal;
   font-style: normal;
   color:rgb(243, 243, 243);
   font-size: 20px;
   }
.activityText{
   font-family: "articulat-cf", sans-serif;
   font-weight: 400;
   font-style: normal;
    color:rgb(4, 4, 4);
    font-size:medium;

}
.highlight {
   background-color: #000000; /* Choose a color that fits your UI theme */
   border: 1px solid #33e4ff; /* Optional: adds a border around the highlighted slot */
 }

.background {
   background-color: #282828; /* Choose a color that fits your UI theme */
 }
 .panel {
   background-color: #ff00c3; /* Choose a color that fits your UI theme */

 }
 .panel2 {
   background-color: #077cc0; /* Choose a color that fits your UI theme */

 }
 .sidebar {
   background-color: #090c0f; /* Choose a color that fits your UI theme */
 }


/* Other Font Styles */

/* Articulat CF Normal */
/* Use this for standard text styling */
/* font-family: "articulat-cf", sans-serif;
   font-weight: 400; 
   font-style: normal; */

/* Articulat CF Normal Oblique */
/* Use this for italicized text styling */
/* font-family: "articulat-cf", sans-serif;
   font-weight: 400; 
   font-style: italic; */

/* Articulat CF Heavy */
/* Use this for heavy emphasis text styling */
/* font-family: "articulat-heavy-cf", sans-serif;
   font-weight: 900; 
   font-style: normal; */

/* Articulat CF Heavy Oblique */
/* Use this for heavy emphasis italicized text styling */
/* font-family: "articulat-heavy-cf", sans-serif;
   font-weight: 900; 
   font-style: italic; */

   /*font-family: "rocinante-titling-variable", sans-serif;
font-variation-settings: "slnt" 0, "wght" 613;*/