@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "Eras Demi ITC";
   src: url('/fonts/ERASDEMI.TTF') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Lato-Regular";
   src: url('/fonts/Lato-Regular.ttf') format('truetype');
 
}



:root {
   --font-size-heading1: 60px;
   --font-size-heading2: 40px;
   --font-size-heading3: 20px;

   --surface-color: #121212; 
   --overlay-color: rgba(255, 255, 255, 0.1); 
   --overlay-color2: rgba(255, 255, 255, 0.224); 
   --primary-color: #BB86FC;
   --secondary-color: #03DAC5;
   --error-color: #CF6679;
   --inactive-color: white;
}


/* Adjustments for medium screens */
@media (max-width: 768px) {
   :root {
      --font-size-heading1: 48px;
      --font-size-heading2: 32px;
      --font-size-heading3: 16px;
   }
}

/* Adjustments for small screens */
@media (max-width: 480px) {
   :root {
      --font-size-heading1: 36px;
      --font-size-heading2: 24px;
      --font-size-heading3: 14px;
   }
}
.background {
   background-color: var(--surface-color); 
}
.panel {
   background-color: var(--surface-color);
   background-image: linear-gradient(var(--overlay-color), var(--overlay-color)); /* Using a stronger white overlay */
   background-blend-mode: lighten; /* Switching to 'lighten' to brighten the dark surface */
   color: white; /* Ensuring text is visible on dark backgrounds */
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.152);
}
.panel2 {
   background-color: var(--surface-color);
   background-image: linear-gradient(var(--overlay-color2), var(--overlay-color2)); /* Using a stronger white overlay */
   background-blend-mode: lighten; /* Switching to 'lighten' to brighten the dark surface */
   color: white; /* Ensuring text is visible on dark backgrounds */
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.152);
}
.backgroundText{
   color: white;
}
.panelText{
   color: white;
}
.primary {
   background-color: var(--primary-color);
 
}
.heading1 {
   font-size: var(--font-size-heading1);
   font-family: "Eras Demi ITC", sans-serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 2px;
}

.heading2 {
   font-family: "anek-latin-variable", sans-serif;
   font-weight: normal;
   font-style: normal;
   color: rgb(235, 235, 235);
   font-size: var(--font-size-heading2);
}

.heading3 {
   font-family: "Lato-Regular", sans-serif;
   font-weight: normal;
   font-style: normal;
   color: rgb(243, 243, 243);
   font-size: var(--font-size-heading3);
}
.panelHeading {
   font-family: "Eras Demi ITC", sans-serif;
   font-weight: normal;
   font-style: normal;
   color: rgb(31, 31, 31);
   font-size: var(--font-size-heading2);
}

.activityText {
   font-family: "articulat-cf", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: rgb(4, 4, 4);
   font-size: medium;

}

.icon-primary {
   fill: var(--primary-color);
}

.icon-inactive {
   fill: var(--inactive-color);
}



